
#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.hrmain{
   padding-top: 4%;
}

.cardaddnews{
 padding-top: 6%;
 margin-left: 30%;
}

.formaaddnews{
max-width: 50%;
}

.hrmain{
  display: flex;
}

.hrcomponent{
  background: rgb(192, 203, 212);
  width: 100vw;
  height: 100vh;
  padding-left: 400px;
  padding-top: 250px;
}

.buttoncrud{
  display: flex;
  column-gap: 2rem;
}